/* Variables */
body {
    background-color: #f8f9fa;
    color: #6c757d;
}

/* Personalización de la tabla */
.table thead {
    background-color: #007bff;
    color: white;
}
.table tbody tr:hover {
    background-color: #66b0ff;
}

/* Otros estilos personalizados */
/* Aquí puedes añadir más estilos personalizados si es necesario */
